/* Colors */

:root {
    --bg: #fff;
    --btn: #f8f8f8;
    --headers: #37a987;
    --text: #606c71;
    --links: #4b3d8f;
    --contrast: #ece9e9;
}


/* Styling */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
}

body {
    margin: 0;
    color: var(--text);
    background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headers)
}

a {
    color: var(--links)
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


/* Navbar */

nav {
    width: 100%;
    overflow: visible;
    position: fixed;
}

.navbar {
    background-color: var(--bg);
    overflow: hidden;
    box-shadow: 0 6px 4px -1px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.navbar a,
button,
input {
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 12rem;
    font-family: inherit;
    font-size: inherit;
    float: left;
    text-align: center;
    margin: 0.4em;
    padding: 0.4em;
    text-decoration: none;
    color: var(--text);
    background-color: var(--btn)
}

.navbar a:hover {
    text-decoration: none;
    background-color: var(--contrast);
    border-color: rgba(255, 255, 255, 0.3)
}

.navbar-right {
    float: right;
}


/* Homepage */

.header {
    box-sizing: border-box;
    padding: 5rem 6rem;
    height: 100vh;
    color: #fff;
    text-align: left;
    z-index: 99;
    background-color: #159957;
    background-image: linear-gradient(124deg, var(--links), var(--headers));
}

.header h1 {
    color: #fff;
    font-size: 3.25rem;
    margin-top: 9rem;
    margin-bottom: 0.1rem;
    margin-left: 2em;
}

.header h2 {
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-weight: normal;
    margin-left: 5.3em;
}

.header h3 {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: normal;
    margin-left: 6.5em;
}

.header a {
    display: inline-block;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 12rem;
    text-decoration: none;
    margin-left: 6.4em;
    padding: 0.75rem 1rem;
}

.header img {
    float: right;
    position: fixed;
    top: 90px;
    left: 800px;
}


/* Info.html */

.content {
    width: 800px;
    word-break: break-word;
    padding-top: 3rem;
    padding-left: 15rem;
}

.content img {
    max-width: 50%;
    height: auto;
    float: right;
    margin: 0px 0px 15px 15px
}


/* Contact.html */

.contact {
    width: 800px;
    word-break: break-word;
    padding-top: 3rem;
    padding-left: 15rem;
}

.contact input,
select,
textarea {
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    font-family: inherit;
    font-size: inherit;
    float: left;
    text-align: left;
    margin: 0.4em;
    padding: 0.4em;
    text-decoration: none;
    color: var(--text);
    background-color: var(--btn);
    resize: none;
}

fieldset {
    border-color: rgb(0 0 0 / 28%);
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
}


/* About.html */

.about {
    width: 800px;
    word-break: break-word;
    padding-top: 3rem;
    padding-left: 15rem;
}


/* Media queries */

@media(max-width: 512px) {
    .navbar i {
        display: none;
    }
}

@media(max-width: 821px) {
    html {
        font-size: 90%;
    }
    .header h1,
    h2,
    h3,
    a {
        margin-left: 0 !important;
    }
    .contact fieldset,
    .contact textarea {
        width: 500px !important;
    }
    .navbar button,
    .navbar input {
        display: none;
    }
}

@media(max-width: 1080px) {
    .content,
    .contact,
    .about {
        padding-left: 5%;
    }
    .contact fieldset,
    .contact textarea {
        width: 600px;
    }
    .content img {
        display: none;
    }
}

@media(max-width: 1323px) {
    .contact fieldset,
    .contact textarea {
        width: 750px;
    }
}

@media(max-width: 1460px) {
    .header img {
        display: none;
    }
}