html {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    max-width: 40%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

div.navbar-right {
    float: right;
    margin-right:1em;
}

div.navbar-left {
    float: left;
    margin-left:1em;
}