html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }